@model Homework.VM.FlightVM
@{
    ViewBag.Title = "Airline";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<img src="~/img/saudia.jpg" class="img-thumbnail" width="200" height="200" />

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button id="btnReturn" type="button" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-refresh"></span> Return
            </button>&nbsp;
            <button id="btnOneway" type="button" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-repeat"></span>
                One way
            </button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="alert alert-success col-md-7" role="alert">Departure [Tickets are available from March 19th to March 31st only.]</div>
    </div>
    <div class="row" id="FromArea1">
        <div class="col-md-1">
            <b>Origin:</b>
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Origin_1, ViewBag.CityList as IEnumerable<SelectListItem>, "-- Select Origin --", new { @class = "dropdown" })
        </div>
        <div class="col-md-1">
            <b>Date:</b>
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.FromDate_1, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" id="ToArea1">
        <div class="col-md-1">
            <b>Destination:</b>
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Destination_1, ViewBag.CityList as IEnumerable<SelectListItem>, "-- Select Destination --", new { @class = "dropdown" })
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div id="ArrivalBanner" class="row">
        <div class="alert alert-warning col-md-7" role="alert">Arrival [Tickets are available from March 19th to March 31st only.]</div>
    </div>
    <div class="row" id="FromArea2">
        <div class="col-md-1">
            <b>Origin:</b>
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Origin_2, ViewBag.CityList as IEnumerable<SelectListItem>, "-- Select Origin --", new { @class = "dropdown" })
        </div>
        <div class="col-md-1">
            <b>Date:</b>
        </div>
        <div class="col-md-2">
            @Html.EditorFor(model => model.FromDate_2, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" id="ToArea2">
        <div class="col-md-1">
            <b>Destination:</b>
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Destination_2, ViewBag.CityList as IEnumerable<SelectListItem>, "-- Select Destination --", new { @class = "dropdown" })
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1">
            <button id="btnSearch" type="button" class="btn btn-warning">Search</button>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div><hr>

<div id="onewayScheduleArea">
    <div class="row">
        <div class="alert alert-success col-md-12" role="alert">Departure Schedule</div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Flight No</th>
                    <th>Seat No</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tblOneway"></tbody>
        </table>
    </div>
</div>

<div id="returnScheduleArea">
    <div class="row">
        <div class="alert alert-warning col-md-12" role="alert">Arrival Schedule</div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Flight No</th>
                    <th>Seat No</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tblReturn"></tbody>
        </table>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="bookModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do you want to confirm?</h4>
                </div>
                <div class="modal-body">
                    <p>What is your name?</p>
                    <input type="text" class="form-control" id="txtName">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnOK" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="overlay">
    <div id="loading-indicator" class="loader" style="position: fixed; left: 50%; top: 50%; display: none;"></div>
</div>

<script>
    var scheduleID = "";
    var flightID = "";
    var seatID = "";

    $(document).ready(function () {
        // init
        $("#section2").addClass("active");
        $("#FromDate_1").datepicker();
        $("#FromDate_2").datepicker();

        // hide return flight fro 1st time
        $("#ArrivalBanner").hide();
        $("#FromArea2").hide();
        $("#ToArea2").hide();

        // hide result table
        $("#onewayScheduleArea").hide();
        $("#returnScheduleArea").hide();

        $("#btnOneway").click(function () {
            $("#ArrivalBanner").hide();
            $("#FromArea2").hide();
            $("#ToArea2").hide();
        });

        $("#btnReturn").click(function () {
            $("#ArrivalBanner").show();
            $("#FromArea2").show();
            $("#ToArea2").show();
        });

        $("#btnSearch").click(function () {
            // validation
            if (!isInputValid()) {
                alert("User input is not valid.")
                return false;
            }

            // init
            $("#onewayScheduleArea").hide();
            $("#returnScheduleArea").hide();

            if (isReturnSelected()) {
                // request both one way and return schedule
                getOneWaySchedule();
                getRetrunSchedule();
            } else {
                // request one way schedule only
                getOneWaySchedule();
            }
        });

        $("#btnReturn").click(function () {
            $("#ArrivalBanner").show();
            $("#FromArea2").show();
            $("#ToArea2").show();
        });

        $("#btnOK").click(function () {
            bookTicket();
        });

        function isInputValid() {
            if ($("#Origin_1").val() == "" || $("#Destination_1").val() == "" || $("#FromDate_1").val() == "") {
                return false;
            }

            if (isReturnSelected()) {
                if ($("#Origin_2").val() == "" || $("#Destination_2").val() == "" || $("#FromDate_2").val() == "") {
                    return false;
                }
            }

            return true;
        }

        function registerBtnBook() {
            $(".btnBook").click(function () {
                var $row = $(this).closest("tr");      // Finds the closest row <tr>
                scheduleID = $row.find("td:nth-child(1)").text();
                flightID = $row.find("td:nth-child(4)").text();
                seatID = $row.find("td:nth-child(5)").text();
            });
        }

        function getOneWaySchedule() {
            $("#onewayScheduleArea").show();
            $("#tblOneway").empty();
            sendForm($("#Origin_1").val(), $("#Destination_1").val(), $("#FromDate_1").val(), "#tblOneway");
        }

        function getRetrunSchedule() {
            $("#returnScheduleArea").show();
            $("#tblReturn").empty();
            sendForm($("#Origin_2").val(), $("#Destination_2").val(), $("#FromDate_2").val(), "#tblReturn");
        }

        function isReturnSelected() {
            return ($("#FromArea2").is(':visible')) ? true : false;
        }

        function bookTicket() {
            $.ajax({
                url: "@Url.Action("Book", "Section2")",
                type: "POST",
                data: {
                    scheduleID: scheduleID,
                    flightID: flightID,
                    seatID: seatID,
                    customerName: $("#txtName").val()
                },
                success: function (data) {
                    alert('Your iternary is confirmed. Please print the ticket.');
                    window.location.href = "../../Report/TicketReport.aspx?ticketID=" + encodeURIComponent(data)
                        + "&customerName=" + encodeURIComponent($("#txtName").val());
                },
                error: function (jqXHR, exception) {
                    alert('Transaction Failed!');
                }
            });
        }

        function sendForm(origin, destination, fromDate, tblAppend) {
            $.ajax({
                url: "@Url.Action("Schedule", "Section2")",
                type: "GET",
                data: {
                    Origin_1: origin,
                    Destination_1: destination,
                    FromDate_1: fromDate
                },
                success: function (data) {
                    $(function () {
                        $.each(data, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td style="display:none;">').text(item.ScheduleID),
                                $('<td>').text(item.Origin),
                                $('<td>').text(item.Destination),
                                $('<td>').text(item.FlightNo),
                                $('<td>').text(item.SeatNo),
                                $('<td>').text(item.DepartTime),
                                $('<td>').append('<button type="button" class="btn btn-info btnBook" data-toggle="modal" data-target="#bookModal">Book</button>')
                            ).appendTo(tblAppend);
                        });
                    });

                    if (data.length == 0) {
                        alert("No schedule found! Please change your itinerary.");
                    } else {
                        registerBtnBook();
                    }
                },
                error: function (jqXHR, exception) {
                    alert('There was a error during the tracnsaction!');
                }
            });
        }
    });
</script>
